.backgraund{
  width: 100vw;
  height: 100vh;
  background:rgba(0,0,0,0.75);
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  z-index:1;
}
.modalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: inherit;
}
.modalContainer {
  background-color: white;
  width: 800px;
  height: 500px;
  display: grid;
  border-radius: 10px;
  z-index: 2;
}
.header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
.edit {
  color: rgb(71, 109, 216);
  cursor: pointer;
}
.colorBox {
  width: 60px;
  height: 30px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.card {
  margin: 20px;
}
.data {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #aaa;
}
.color {
  display: flex;
  align-items: center;
}
.color > * {
  margin: 0 5px;
}
.footer {
  margin: 60px 0px 10px auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer > * {
  margin: 10px;
}
.cancelBtn {
  padding: 10px 20px;
  width: 50px;
  border-radius: 5px;
  align-items: center;
  border: 1px solid #aaa;
  cursor: pointer;
}
.saveBtn {
  padding: 10px 20px;
  width: 50px;
  border-radius: 5px;
  color: azure;
  background-color: blue;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 820px) {
  .modalContainer {
    margin: auto 5px;
  }
}
